@import url('../cases/view_case.css');

.view-case-details-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.view-case-details-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 24px;
}